#contact-page-form > .form-field:nth-child(2),
#contact-page-form > .form-field:nth-child(5){
    grid-column: 1 / 3;
}

#contact-page-content{
    width: 100%;
    height: max-content;
    justify-content: end;
    display: grid;
    grid-template-columns: 460px 50%;
    column-gap: 100px;
}

#map{
    width: 100%!important;
    height: 100vh!important;
    right:0!important;
}

#contact-page-form{
    margin-top: 100px;
}