.category-item{
    width: 100%;
    max-width: 720px;
    height: 225px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}
.category-item-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.category-item-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0);
    transition-duration: 0.7s;
}

.category-item:hover > .category-item-title{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
}